<!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">

     <title>ML</title>

     <!-- Bootstrap core CSS -->
	 <link href="static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="static/css/NeocaseCaseForm.css" rel="stylesheet">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	 <script src="static/js/NeocaseCaseForm.js"></script>

 </head>

 <body>
<h1 id="heading">Neocase Auto Case Category Classifier<h1>

     <div class="container">

             <form class="form-signin"  role="form">
             <h5>Please Enter the Message:</h5>
             <textarea type="text" id="text"  name="text" class="form-control" placeholder="Type your Message Request" required autofocus></textarea><br>

            <h5>Category of your Message:</h5>
            <!-- <button class="btn btn-lg btn-primary btn-block" type="button">Predict</button><br> -->
            <label type="text" id="category" name="category"  placeholder="predicted category">
            </form>
    </div>

 </body>

 </html>
